@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

body {
  background: #0F172A;
  font-family: "Manrope", sans-serif;
  /* user-select: none; */
}

input:-webkit-autofill {
  -webkit-text-fill-color: white;
  transition: background-color 9999s ease-in-out 0s;
}